/**
jquery-backToTop main classes

@licence MIT
@author Pablo Pizarro @ppizarror.com
 */

/**
-------------------------------------------------------------------------------
Main class
-------------------------------------------------------------------------------
 */
.jquery-back-to-top {
    cursor: pointer;
    display: block;
    opacity: 0;
    text-indent: -9999px;
}

/**
-------------------------------------------------------------------------------
Basic statuses
-------------------------------------------------------------------------------
 */
.jquery-back-to-top-status-on {
    animation-iteration-count: 1;
    opacity: 1;
}

.jquery-back-to-top-status-off {
    animation-iteration-count: 1;
    opacity: 0;
}

/**
-------------------------------------------------------------------------------
Fade-in CSS implementation
-------------------------------------------------------------------------------
 */
@-moz-keyframes jquery-back-to-top-fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes jquery-back-to-top-fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes jquery-back-to-top-fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/**
-------------------------------------------------------------------------------
Fade-out CSS implementation
-------------------------------------------------------------------------------
 */
@-moz-keyframes jquery-back-to-top-fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes jquery-back-to-top-fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes jquery-back-to-top-fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}